body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: wheat;
}

::-webkit-scrollbar{
    width: 0.25rem;
}

::-webkit-scrollbar-track{
    background: rgb(90, 90, 90);
}

::-webkit-scrollbar-thumb{
    background: rgb(72, 0, 139);
}

.contain{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
